body {
    background-color: #eaf6fd;
}

.nav-I {
    margin: 0px 0px 0px 0px;
    background-color: #ffff;
    height: 100%;
}
.immg{
    width: 16px !important;
  
}


/* .navbar-brand img {
    width: 80px;
} */
.nav-I .navbar-brand img {
    width: 80px;
}

/* General Navbar Styles */
nav a {
    font-size: 10px !important;
    color: black;
    text-decoration: none;
}
/* nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
} */

nav form img {
    width: 12px;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* Navbar-I Styles */
.nav-I .navbar-brand:visited {
    border: 2px dotted black;
}

.nav-I a:hover,
form a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: black;
}
.nav-II  a{
    margin-left: 30px;
}
/* Navbar-II Styles */
.nav-II {
    background-color: rgb(236, 246, 255);
    border: 1px solid rgb(205, 202, 202);
    /* margin-left: 100px; */
    /* margin-bottom: 0px !important; */
}

.nav-II .nav-a:hover {
    border-bottom: 4px solid rgb(35, 35, 116);
    color: rgb(30, 30, 121);
}

.nav-II .btn {
    background-color: rgb(42, 42, 161) !important;
}

.nav-II .btn:hover {
    background-color: rgb(30, 30, 81) !important;

}

.para1 .btn {
    background-color: rgb(45, 45, 201) !important;
    color: white;
    font-size: 10.72px;
}

.explore .btn {
    background-color: rgb(42, 42, 161) !important;
}

.explore .btn:hover {
    background-color: rgb(30, 30, 81) !important;

}

.para1 .btn:hover {
    background-color: rgb(30, 30, 81) !important;

}

/* Compare link hover only */
.compare-link:hover {
    border-bottom: 4px solid rgb(11, 11, 11);
    text-decoration-thickness: 2px;
    text-decoration-color: black;
    transform: translateY(-2px);
    transition: 0.3s ease;
}

/* Decorative vertical bar for Surface */
.technologia {
    position: relative;
}

.technologia::after {
    content: "";
    background-color: black;
    width: 2px;
    height: 17px;
    position: absolute;
    top: 12px;
    left: -5px;
}

.header {
    background-size: cover;
    height: 600px;
    padding-top: 20px;
}


.h1 {
    font-size: 68px;
    background: linear-gradient(to right, rgb(64, 64, 218), rgb(16, 19, 107), rgb(13, 5, 86), rgb(7, 7, 47));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 span {
    font-size: 68px;
    background: linear-gradient(to left, rgb(151, 92, 50), rgb(86, 61, 9), rgb(64, 46, 7), rgb(39, 29, 3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-section {
    margin-top: 100px;
    flex-wrap: wrap;
}

.img {
    padding-top: 20px;
    padding-left: 20px;

}

.card p {
    font-size: 15px;

}

.card span {
    font-size: 71px;

}

.card {
    padding: 10px;
}

.text-container {
    font-size: 27px;
    width: 87%;
    margin-top: 120px;
}
.text-container span{
    color: rgba(22, 5, 205, 0.878) !important;
}


html,
body {
    overflow-x: hidden;
}

.video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    z-index: 0;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.video-overlay-content {
    position: relative;
    z-index: 1;
    top: 3%;
}


.link1::after {
    content: ">";
    margin-left: 5px;
    display: inline-block;
    transition: all 0.3s ease;
    color: blue;
}

.link1:hover::after {
    transform: translateX(5px);
    color: blue;
}

.link::after {
    content: ">";
    margin-left: 5px;
    display: inline-block;
    transition: all 0.3s ease;

}

.link:hover::after {
    transform: translateX(5px);
    color: blue;
}


.link a {
    color: black;
    text-decoration: none;
}

.link a:hover {
    color: blue;
    text-decoration: underline;
}


.swiper-wrapper1 {
    width: 200px;
    text-align: start;          

}   

.swiper-slide1 {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-family: sans-serif;
    transition: background 0.3s;
}

.swiper-slide1:hover,
.swiper-slide-active1 {
    color: black;
    font-weight: bold;
}

.icon {
    width: 35px;
    margin-right: 10px;

}

.icon:hover {
    box-shadow: 0px 0px 8px blue;
    transform: scale(1.1);

}


.swiper-slide1 a:hover {
    box-shadow: 4px 4px 4px blue, -4px -4px -4px blue;
}

.btn a:hover {
    color: black !important;

}

.container1 .article {
    background: url(../img/surface-laptop-7th-edition-display-size-reduced-motion.avif)no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 60px 0px 40px 0px;
}
.p-container{
    position: relative;
    left: 736px;
    top: -550px;
 /* width: 320px !important; */
padding: 50px 10px !important;

}

.scroll-container {
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin: 50px;
    display: flex;
    justify-content: center;
}

.angle {
    background: linear-gradient(to top,
            #eaf6fd, #eaf6fd, rgba(248, 121, 30, 0.17), #eaf6fd, #eaf6fd);
}

.scroll {
    height: 100%;
    width: 100%;
}

.scroll:hover {
    transform: translateY(-2100px);
    transition: all 39s ease-out;
}

.card {
    overflow: hidden;
}



.card1 h5 {
    font-size: 15px;
}

.card1 p {
    font-size: 12px;
}

section {
    margin-bottom: 200px !important;
}

main {
    margin-bottom: 300px !important;
}

header {
    margin-bottom: 200px !important;

}

table td {
    font-size: 13px;
}

.card-body-1 h5 {
    font-size: 16px !important;
}

.card-body-1 p {
    font-size: 12px;
}

.translate {
    transition: all 0.9s ease;
}

.on-button:hover .translate {
    transform: translateX(21px);
}

.on-button {
    transition: all 0.1s ease;
    transition-delay: 0.3s;
}

.on-button:hover {
    background-color: blue !important;

}

.ai-powered {
    height: 800px;
}

.ai-powered h1 span {
    font-size: 178px;
    color: #666;
    transition: all 0.8s ease;
}

.ai-powered h2 {
    font-size: 32px;
    color: #666;
    transition: all 0.8s ease;
}

/* Animate on section hover */
.ai-powered:hover span {
    animation: resize 1s ease-out 0s 1 forwards;
}

.ai-powered:hover h2 {
    color: black;
    animation: resize1 1s ease-out 0s 1 forwards;


}

.margin {
    margin: 0px !important;
}

.shop-now a .btn {
    background-color: rgb(60, 60, 216) !important;
    font-size: 13px;
}

.shop-now a .btn:hover {
    background-color: rgb(30, 30, 81) !important;

}

option {
    font-size: 10px;

}

optgroup {
    font-size: 12px;
    font-weight: 400;

}

.coustom-btn {
    outline: 2px solid black;
    background-color: #fafaf6;
    width: 39px;
    height: 39px;

}

.column-I span {
    font-weight: 700;

}

.column-I p {
    font-size: 20px;
    font-weight: 400;
}

.column-main-content div {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    overflow: visible;
    height: 160px;
    line-height: 30px;
}



.column-main-content div::after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: #999;
    margin-top: 10px;
}

.hidden {
    visibility: hidden;
}

.para {
    position: absolute;
    z-index: 2;
    bottom: 420px;
    left: 40px;
    height: 120px;
    width: 400px;
    background-color: #eaf6fd;
    border: 1px solid blue;
    border-radius: 20px;
}



.para1 {
    position: absolute;
    z-index: 2;
    bottom: -20px;
    left: 530px;
    height: 220px;
    width: 300px;
    text-align: left;
    background-color: #fcfefe;
    border-radius: 20px;
    line-height: 15px !important;
}

.position-relative1 img {
    position: relative;
    right: 82px;
    bottom: 50px;
}

footer {
    background-color: #414040;

}

footer h6 {
    color: #666;
    font-size: 0.8rem;
}

footer a {
    color: #504f4f;
    text-decoration: none;
    font-size: 0.6rem;
    line-height: 30px;
}

footer a:hover {
    text-decoration: underline;
}


